{% extends "accounts/_auth_layout.html" %}
{% block title %}Choose a new password{% endblock %}
{% block auth %}
{% if validlink %}
<h1 class="auth__title">Choose a new password</h1>
<form method="post" class="form" novalidate>{% csrf_token %}
  {% for field in form %}{{ field.as_field_group }}{% endfor %}
  <button class="btn btn--primary btn--block" type="submit">Save password</button>
</form>
{% else %}
<h1 class="auth__title">That link has expired</h1>
<p class="muted auth__sub">Reset links work once. Ask for a new one.</p>
<a class="btn btn--primary btn--block" href="{% url 'accounts:password_reset' %}">Send a new link</a>
{% endif %}
{% endblock %}
