{% extends "base.html" %}
{% block title %}Change password{% endblock %}
{% block content %}
<header class="page-header"><div><h1>Change password</h1></div></header>
<div class="card card--narrow">
<form method="post" class="form" novalidate>{% csrf_token %}
  {% for field in form %}{{ field.as_field_group }}{% endfor %}
  <div class="cluster"><button class="btn btn--primary" type="submit">Save password</button><a class="btn btn--ghost" href="{% url 'accounts:profile' %}">Cancel</a></div>
</form>
</div>
{% endblock %}
