{% extends "base.html" %}
{% load custom_tags %}

{% block nav2 %}<a class="nav-link " href="{% url 'my_classes' %}">My Classes</a>{%endblock%}

{% block main %}

    <div class="container text-center">
      <div class="row">

        <div class="col">
          <h1>Reset Password</h1>
        </div>
      </div>
        <div class="row">
        <div class="col">
            <p> Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
            <form method = "post">
                {%csrf_token%}
                {{form}}
                <input type = "Submit" name = "Send Email">
            </form>
        </div>
        </div>

    </div>

{%endblock%}